body{
    background: black;
    font-size: 22px;
}

#head-wrapper {
    background: red;
    border-radius: 250px 250px 0 0;
    min-height: 200px;
    font-size: 40px;
}

#page-wrapper {
    background: white;
    min-height: 800px;
    margin: auto;
}

#busca {
    float: right;
}

.poke{
    height:50%;
    width:100%;
    text-align: center;
    color: black;
}

.nav-wrapper {
   width:100%;
   background:#1b1b1b;
   min-height: 30px;
}

.nav-menu li {
   display: inline;
   list-style-type: none;
}

.poke-type{
  text-align: center;
}

.poke-type .grass{
  background-color: #9bcc50;
  color: black;
}

.poke-type .poison{
  background-color: #b97fc9;
  color: white;
}

.card-header img{
  margin: auto;
}