<!Doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Pokedex</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="css/main.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="css/bulma.css" />
    <script src="js/vue.min.js"></script>
    <script src="js/axios.min.js"></script>
    <script src="js/jquery-3.3.1.min.js"></script>
</head>
<body>
    <div class="nav-wrapper">
        <nav class="nav-menu">
            <ul>
                <li><a href="#!">Home |</a></li>
                <li><a href="#!">Pokédex |</a></li>
                <li><a href="#!">Sobre Nós</a><li>
                <div id="busca">
                     <input type="text" id="txtbusca">
                     <input type="button" value="Buscar" id="btbuscar">
                </div>
        </nav>
    </div>
    
    <header id="head-wrapper" class="poke">
        <h1>Pokedex</h1>
    </header>
    <div id="page-wrapper" class="poke">
        <div class="container">
            <div id="app-poke">
                <div class="columns is-multiline" id="app-poke">
                    <div class="column is-one-fifth"  v-for="poke in pokes">
                        <a :href="'pokemon.html?n='+poke.name">
                            <div class="card">
                                <header class="card-header">
                                    <div class="card-image">
                                        <figure class="image">
                                            <img :src="poke.image"  alt="Placeholder image">
                                        </figure>
                                    </div>
                                </header>
                                <div class="card-content">
                                    <div class="media-content">
                                        <div class="columns poke-type">
                                            <div :class="['column', type.slot > 1 ? 'type-2' : 'type-1']" v-for="type in poke.types">
                                                <div :class="type.name">
                                                    <span>{{type.name}}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <h1 class="title is-hidden-tablet-only is-hidden-mobile">{{ poke.name }}</h1>
                                        <h1 class="title is-4  is-hidden-desktop">{{ poke.name }}</h1>
                                    </div>
                                </div>
                            </div>
                        </a>                                                                                                                        
                    </div>
                </div>
                <a class="button botao is-medium" v-bind:class="{'is-loading': loading}" v-on:click="fetchPokemons()" v-show="next">Carregar mais Pokémons</a>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <div class="content has-text-centered">
            <p>
                <strong>Bulma</strong> by <a href="https://jgthms.com">Jeremy Thomas</a>. The source code is licensed
                <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
                is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
            </p>
            </div>
        </div>
    </footer>
    <script src="js/main.js"></script>
    <script>
        let uri = window.location.href;
        let url = new URL(uri);
        var c = url.searchParams.get("n");
        console.log(c);
    </script>
</body>
</html>
