html{
    background: black
}

.div01 {
    background: red;
    height:50%;
	width:100%;
    text-align: center;
    color: black;
    border-radius: 250px 250px 0 0;
}
.div02 {
    background: white;
    height:50%;
	width:100%;
    text-align: center;
    color: black;
    border-radius: 0 0 250px 250px;
}